* {
    margin: 0px;
    padding: 0px;
}

div {
    list-style-type: none;
}

/*the class names are confusing me so I'll have to sort those out after*/
/*javascript class name tracker? Somehow that could be helpful.*/

#container {
    box-sizing: border-box;
    width: 300px;
    max-height: 440px;
    height: 440px;
    padding: 4px;
    padding-top:0px;
}

#dictionary {
    box-sizing: border-box;
    width: 290px;
    float:right;
    max-height: 440px;
    height: 440px;
    overflow-y: auto;
}

/*container for the word*/
.collapsible {
    box-sizing: border-box;
	display: inline-block;
    padding:0px;
	position: relative;
    width: 98%;
    margin-bottom: 2px;
    background:ghostwhite;
/*    border-style: solid;
    border-color: orange;
    border-width: 1.5px;*/
    /*background: #f7f9fa;*/
}

.collapsible:hover {
    color: #000;
    /*background-color: ghostwhite;*/
    /*cursor: pointer;*/
}

.content {
    /*white-space: nowrap;*/
    padding: 20px;
    padding-bottom: 0px;
    box-sizing: border-box;
    float: left;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.content:hover .remove {
    visibility: visible;
}

.word {
    display: inline-block;
    font-size: 2em;
}


.phonetic {
    display: inline-block;
    font-size: 1.5em
}

.example {
    color: grey;
}

.type {
    font-size: 1.2em;
}

.synonym {
    display: inline-block;
    width:100%;
    color:grey;
    /*overflow-wrap: break-word;*/
    /*text-overflow: wrap ;*/
    /*white-space: nowrap;*/
}

.remove {
    visibility: hidden;
    display: inline-block;
    position: relative;
    float:right;
    right: 0px;
    top: 6px;
    width: 24px;
    height: 24px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2;
    cursor: pointer;
}

.remove:hover .feather {
    stroke:orange;
    transition: 300ms;
}
.arrow-container {

    padding:1px;
    padding-bottom: 0px
}
.feather {
    /*stroke:#c3c6cc;*/
    stroke:grey;
    position: relative;
    right: 12px;
    float:right;

}

.feather:hover {
    stroke:orange;
    transition: 300ms;
    cursor: pointer;
}

.arrow-container {
    margin: 6px 0px;
    display:inline-block;
    width:100%;
}

::-webkit-scrollbar {
	width:4px;
}

::-webkit-scrollbar-thumb {
	width: 4px;
    border-radius: 8px;
  	background: #c3c6cc; 
}

/* Add a black background color to the top navigation bar */
.topnav {
  overflow: hidden;
  /*background-color: #e9e9e9;*/
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  /*padding: 14px 16px;*/
  text-decoration: none;
  font-size: 18px;

}

/* Change the color of links on hover */
/*.topnav a:hover {
  background-color: orange;
  color: black;
}*/

/* Style the "active" element to highlight the current page */
.topnav a.active {
  background-color: #2196F3;
  color: white;
}

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
    padding-left: 10px;
  position: relative;
  left: 10px;
  outline:none;
  width: 80%;
  height: 22px;

  border-radius: 30px;
  border: solid;
  border-width: 1.5px;
  border-color: grey;

  font-size: 16px;
  /*font-weight: 500;*/

}

/*hide top container on scroll?*/
/* then when scroll back down it could show up again*/

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
/*@media screen and (max-width: 600px) {
  .topnav a, .topnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }

  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}
*/